.gradiant {
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,239,209,1) 37%);
}
.grid-container{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "main_photo img1 img1"
        "main_photo img2 img3"
        "main_photo img4 img5" ;
        grid-auto-flow: dense;
        
    .main_photo{
        // grid-column: 1 / span 1;
        // grid-row: 1 / span 3;
        grid-area: main_photo;
        
    }
    .img1 {
        // grid-column: 2 / span 1;
        // grid-row: 1 / span 1;
        grid-area: img1;
    }
    .img2 {
        // grid-column: 2 / span 1;
        // grid-row: 2 / span 1;
        grid-area: img2;
    }
    .img3 {
        // grid-column: 3 / span 1;
        // grid-row: 1 / span 1;
        grid-area: img3;
    }
    .img4 {
        // grid-column: 3 / span 1;
        // grid-row: 2 / span 1;
        grid-area: img4;
    }
    .img5 {
        // grid-column: 3 / span 1;
        // grid-row: 3 / span 1;
        grid-area: img5;
    }
}