$mint : #ADEFD1;
$sailor : #00203F;
$light-gray : #A6A6A6;
$custom-gray : #DEDEDE;

.mint {
    color : $mint;
}
.sailor {
    color : $sailor;
}
.light-gray {
    color : $light-gray;
}
.custom-gray {
    color : $custom-gray;
}
.bg-mint {
    background-color: $mint;
}
.bg-sailor {
    background-color: $sailor;
}
.b--mint {
    border-color: $mint;
}
.b--sailor {
    border-color: $sailor;
}
.hover-bg-sailor{
    &:hover{
        background-color: $sailor;
    }
}
